body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.page-header {
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
}
nav {
  display: flex;
  align-items: center;
}
.logo-container {
  margin-right: 76px;
}
.links-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}
.menu {
  display: flex;
  gap: 40px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logostudio {
  color: #2e2f42;
}
.links {
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding-top: 24px;
  padding-bottom: 24px;
}
.links:hover {
  color: #404bbf;
}
.links:focus {
  color: #404bbf;
}
.contacts-section {
  font-style: normal;
}
.contacts-menu {
  display: flex;
  gap: 40px;
}
.contacts {
  color: #434455;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts:hover {
  color: #404bbf;
}
.contacts:focus,
.telephone:focus {
  color: #404bbf;
}
.solutions-section {
  background-color: #2e2f42;
  padding: 188px 0 188px;
}
.effective-solutions {
  color: #ffffff;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  max-width: 496px;
}
.button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.solutions-options {
  padding: 120px 0 120px;
}
.solutions-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 0;
  margin: 0;
}
.solutions-menu-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.solutions-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.solutions {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
  padding: 120px 0 120px;
}
.team-title {
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0;
}
.list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.list-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.team-contrainer {
  padding: 32px 0;
}
.portfolio-section {
  padding: 120px 0 120px 0;
}
.our-portfolio-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.porfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
  margin: 0;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.portfolio-title {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0 100px;
}
.logostudio-footer {
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  padding: 0 15px 0 15px;
}
