body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.page-header {
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
}
.nav-list {
  display: flex;
  align-items: center;
}
.logo-container {
  margin-right: 76px;
}
.links-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu .current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logostudio {
  color: #2e2f42;
}
.links {
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
  color: #404bbf;
}
.links:hover {
  color: #404bbf;
}
.links:focus {
  color: #404bbf;
}
.contacts-section {
  font-style: normal;
}
.contacts-menu {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 332px;
}
.contacts {
  color: #434455;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover {
  color: #404bbf;
}
.contacts:focus,
.telephone:focus {
  color: #404bbf;
}
.solutions-section {
  padding: 188px 0 188px;
  background-color: #2e2f42;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.effective-solutions {
  color: #ffffff;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}
.button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.solutions-container {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.solutions-options {
  padding: 120px 0 120px;
}
.solutions-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 0;
  margin: 0;
}
.solutions-menu-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.solutions-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.solutions {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
  padding: 120px 0 120px;
}
.team-title {
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  display: flex;
  align-items: center;
}
.list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.list-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.team-container {
  padding: 32px 0;
}
.social-links {
  display: flex;
  align-self: center;
  gap: 24px;
  flex-shrink: 0;
  margin-top: 8px;
  justify-content: center;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  background-color: #404bbf;
}
.social-link:focus {
  background-color: #404bbf;
}
.social-icons {
  fill: #f4f4fd;
  border-radius: 50%;
}
.portfolio-section {
  padding: 120px 0 120px 0;
}
.our-portfolio-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.porfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
  margin: 0;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item:hover .portfolio-text-card {
  transform: translateY(0%);
}
.portfolio-container-hover {
  position: relative;
  overflow: hidden;
}
.portfolio-text-card {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo-container {
  margin-right: 120px;
}
.logostudio-footer {
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-media-list {
  display: flex;
  align-self: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-item {
  width: 40px;
  height: 40px;
}
.social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover {
  background-color: #31d0aa;
}
.social-media-link:focus {
  background-color: #31d0aa;
}
.social-media-icons {
  fill: #f4f4fd;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  padding: 0 15px 0 15px;
}
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  pointer-events: none;
  transition: opacity 250 ease-in-out;
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  overflow-y: auto;
  position: absolute;
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.form-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.button-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-container {
  margin-bottom: 8px;
}
.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-container {
  position: relative;
}
.input-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4d5ae5;
}
.svg-form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form + .svg-form {
  fill: #4d5ae5;
}
.comment-container {
  margin-bottom: 16px;
}
.textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.textare:focus {
  border-color: #4d5ae5;
}
.privacy-container {
  margin-bottom: 24px;
}
.privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.privacy-input:checked + .privacy-label > .privacy-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-link {
  color: #4d5ae5;
}
.send-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
