.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}
.page-header {
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu,
.contacts-section {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}
.logostudio {
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  fill: #2f2f37;
}
button {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .menu,
  .contacts-section {
    display: flex;
    gap: 40px;
    align-items: center;
    font-style: normal;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .logostudio {
    margin-right: 120px;
  }
  .links {
    color: #2e2f42;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .links:hover {
    color: #404bbf;
  }
  .links:focus {
    color: #404bbf;
  }
  .contacts-section {
    font-style: normal;
  }
  .menu .current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .contacts {
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts:hover {
    color: #404bbf;
  }
  .contacts:focus,
  .telephone:focus {
    color: #404bbf;
  }
  .contacts-menu {
    flex-direction: column;
    display: flex;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .logostudio {
    margin-right: 76px;
  }
  .contacts-menu {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts {
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
  }
}

/* mobile menu */

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 4px;

  margin-right: 24px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-link:hover .mobile-menu-link:focus {
  color: #404bbf;
}
.mobile-menu-contacts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu-address {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.mobile-menu-address:hover {
  color: #404bbf;
}
.mobile-menu-address:focus {
  color: #404bbf;
}

/* mobile menu social links */

.mobile-menu-social-media {
  display: flex;
  align-self: center;
  gap: 40px;
  flex-shrink: 0;
  margin-top: 48px;
  justify-content: center;
}
.mobile-menu-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-social-link:hover {
  background-color: #404bbf;
}
.mobile-menu-social-link:focus {
  background-color: #404bbf;
}
.mobial-menu-icons {
  fill: #f4f4fd;
  border-radius: 50%;
}
/* hero mobile */

.solutions-section {
  padding: 72px 52px;
  background-color: #2e2f42;
  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.effective-solutions {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin-right: auto;
  margin-left: auto;
}
.button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  text-decoration: none;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* hero tablet */

@media screen and (min-width: 768px) {
  .solutions-section {
    padding: 112px 136px 1px 136px;
    max-width: 768px;
  }
  .effective-solutions {
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    max-width: 496px;
  }
  .button {
    margin-top: 36px;
    margin-bottom: 111px;
  }
}
/* hero laptop */

@media screen and (min-width: 1158px) {
  .solutions-section {
    padding: 188px 0 188px;
    max-width: 1440px;
  }
}

/* solutions mobile */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.solutions-icon {
  display: none;
}
.solutions-menu {
  padding: 96px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.solutions {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.solutions-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
  padding: 0 16px;
}

/* solutions tablet */

@media screen and (min-width: 768px) {
  .solutions-menu {
    column-gap: 24px;
    row-gap: 72px;
    margin: 0;
  }
  .solutions-menu-item {
    width: calc((100% - 24px) / 2);
  }
}

/* solutions laptop */

@media screen and (min-width: 1158px) {
  .solutions-icon {
    display: flex;
  }
  .solutions-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .solutions-options {
    padding: 24px 0;
  }
  .solutions-menu {
    gap: 24px;
    padding-left: 0;
    margin: 0;
  }
  .solutions-menu-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .solutions {
    font-weight: 400;
  }
  .solutions-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    padding: 0;
  }
}

/* team mobile */

.team {
  background-color: #f4f4fd;
  padding: 96px 0 189px;
}
.team-title {
  font-weight: 700;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
}
.list {
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.list-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.team-container {
  padding: 32px 0;
}
.social-links {
  display: flex;
  align-self: center;
  gap: 24px;
  flex-shrink: 0;
  margin-top: 8px;
  justify-content: center;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  background-color: #404bbf;
}
.social-link:focus {
  background-color: #404bbf;
}
.social-icons {
  fill: #f4f4fd;
  border-radius: 50%;
}

/* tablet team */

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-container {
    padding: 9px 0;
  }
  .team {
    padding: 96px 0 142px;
  }
  .list-title {
    padding-top: 23px;
  }
}

/* laptop team */

@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
  }
  .team-container {
    padding: 9px 16px;
  }
  .team {
    padding: 120px 0 167px;
  }
}

/* mobile portfolio */

.portfolio-section {
  padding: 96px 0;
}
.our-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.porfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 48px;
  padding-left: 0;
  margin: 0;
  justify-content: center;
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item:hover .portfolio-text-card {
  transform: translateY(0%);
}
.portfolio-container-hover {
  position: relative;
  overflow: hidden;
}
.portfolio-text-card {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* tablet portfolio */

@media screen and (min-width: 768px) {
  .porfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 2);
  }
  .portfolio-section {
    padding: 96px 0;
  }
}

/* laptop portfolio */

@media screen and (min-width: 1158px) {
  .porfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-section {
    padding: 96px 0;
  }
}

/* mobile footer */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
  display: flex;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.logostudio-footer {
  color: #f4f4fd;
}
.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 16px;
  text-transform: uppercase;
  text-align: center;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  margin-bottom: 72px;
}
.social-media-footer {
  text-align: center;
  margin-bottom: 72px;
}
.social-media-paragraph {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-item {
  width: 40px;
  height: 40px;
  display: block;
  flex-shrink: 0;
}
.social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover {
  background-color: #31d0aa;
}
.social-media-link:focus {
  background-color: #31d0aa;
}
.social-media-icons {
  fill: #f4f4fd;
}
.footer-form-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer-form-paragraph {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 16px;
}
.footer-label {
  margin-bottom: 16px;
}
.footer-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-input::placeholder {
  color: #ffffff;
}
.footer-button {
  display: inline-flex;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  position: relative;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-footer-button {
  margin-left: 16px;
}

/* tablet footer */

@media screen and (min-width: 768px) {
  .footer-container {
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 584px;
  }
  .logo-footer {
    text-align: start;
  }
  .footer-text {
    max-width: 264px;
  }
  .social-media-footer {
    margin-right: 0;
    margin-left: 24px;
    margin-bottom: 104px;
    text-align: start;
  }
  .footer-form-container {
    display: block;
  }
  .footer-form-paragraph {
    text-align: start;
  }
  .social-media-list {
    flex-wrap: nowrap;
  }
  .footer-form {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .footer-label {
    margin-bottom: 0;
  }
  .footer-input {
    width: 264px;
  }
  .footer-button {
    margin: 0;
  }
}

/* laptop footer */

@media screen and (min-width: 1158px) {
  .footer-container {
    max-width: 1158px;
    align-items: baseline;
    flex-wrap: nowrap;
  }
  .logo-container {
    margin-right: 120px;
  }
  .footer-text {
    margin-bottom: 0;
  }
  .social-media-footer {
    margin-right: 80px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

/* mobile overlay*/

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250 ease-in-out;
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 16px 24px 16px;
  overflow-y: auto;
  position: absolute;
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.form-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.button-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-container {
  margin-bottom: 8px;
}
.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-container {
  position: relative;
}
.input-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
  border-color: #4d5ae5;
}
.svg-form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.input-form + .svg-current {
  fill: #4d5ae5;
}
.comment-container {
  margin-bottom: 16px;
}
.textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.textarea:focus {
  border-color: #4d5ae5;
}
.privacy-container {
  margin-bottom: 24px;
}
.privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}
.privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin: 8px;
  flex-shrink: 0;
}
.privacy-input:checked + .privacy-label > .privacy-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-link {
  color: #4d5ae5;
}
.send-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/* tablet and laptop overlay*/

@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
}
